{
"ApiDomain":"https://images.cjunme.top/",
"NoticeDomain":"https://notice.flyint.xyz",
"NoticeFile":"/gh/cdnflyint/cdn_config@master/cdn_files_config/notice.html",
"officialSiteUrl":"https://xqvpn.top",
"forceUpdateSubscribe":1,
"noticeVersion":7,
"lastVersionCode":10400,
"apkDownloadUrl": "https://download.flyintx.com/download/Flyint.apk",
"changeLog": "适配面板新的免密登录接口."
}


